@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-first-beige text-third-grey antialiased font-satoshi font-medium;
}

.kyoto-paragraph {
  @apply leading-10 mb-6;
}

.anim {
  @apply transition ease-in-out hover:-translate-y-1 hover:scale-110 hover:text-second-beige;
}

.anim-darker {
  @apply transition ease-in-out hover:-translate-y-1 hover:scale-110 hover:text-fourth-beige;
}

.kyoto-footer-p {
  @apply text-sm m-0 text-center font-sourceCodePro font-normal text-second-beige;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  list-style: none;
}